.formConfirm {
    padding: 0px 20px;
}
input {
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

button {
    background-color: #EFB810;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #EFB810;
}

@media screen and (max-width: 500px) {
    input {
        width: 50%;
    }
}